@media(max-width:500px) {
    body {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
       
        

    }

    .outer-container {
        display: flex;
        flex-direction: column;
     
        overflow: hidden;
      
        background-color: hsl(215.29,80.95%,95.88%);
        padding: 0;
        border-radius: 0;
        padding-bottom: 5rem;
        
     


    }

    /* global */
    *{
        box-sizing: border-box;
    }
    h1 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {

        font-size: 1rem;
    }

    section {
        row-gap: 0.5rem;
     
        padding: 1rem;
        border-radius: 1rem;
        width: 20rem;
    }

    .section-title {
        row-gap: 0.5rem;
       
    }

    /* nav */

    nav {

        background-image: url('./assets/images/bg-sidebar-mobile.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 1rem;
        column-gap: 2rem;
        width: 100%;
        height: 10rem;
       
        border-radius: 0;

    }

    nav .step div {
        display: none
    }

    .main-container {
        /* padding: 2rem; */
        padding: 0;
        display: flex;
       
       
       /* padding: 3rem; */
       align-self: center;
       justify-content: center;
       border-radius: 1rem;
       margin-top: -3rem;
     
       background-color: white;
        /* flex-direction: column; */
        /* flex-basis: 10%; */
      }

    /* section info */

      .info div {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
      
       
      }
      
      .info form {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        color: hsl(215, 74%, 27%);
      
      }
      
      .info form input {
       
        height: 1rem;
        border-radius: 0.5rem;
        /* padding: 2rem; */
        border: none;
        font-size: 15px;
        border: 1px solid hsl(240, 3%, 88%);
        font-weight: bold;
        color: hsl(210.53, 22.71%, 49.22%);
      }
      
      .next-button {
 
        padding: 0.5rem 1rem 0.5rem 1rem;
        border-radius: 1rem;
        border: none;
     
        font-size: 10px;
      }

      /* select plan */


      .plan-cards {
        
        flex-direction: column;
        row-gap: 1rem;
        
      }
      
      .card {
        border: 2px solid #a7a7aa;
        /* width: 40vh; */
        /* height: 25vh; */
        min-height: 10vh;
        align-self: stretch;
        border-radius: 1rem;
        padding: 0.5rem;
        column-gap: 2rem;
        /* padding: 2rem; */
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      
      
      }
      
      .card span {
        color: #a7a7aa;
        font-size: 1.3rem;
      }
      
      .switch-box {
        align-self: stretch;
        display: flex;
        padding: 1rem;
        justify-content: center;
        align-items: center;
        column-gap: 2rem;
        font-size: 1.3rem;
        background-color: hsl(230, 75%, 98.43%);
        color: hsl(213.18, 95.51%, 17.45%)
      }
      
      .go-back {
        font-size: 1rem;
      }
      
      .back-next-buttons {
        /* position: absolute; */
       
       justify-content: space-between;
       
      
      }
      /* add ons */
      
      .add-ons {
        row-gap: 1rem;
      }
      
      .add-ons-list {
      
        row-gap: 0.5rem;
      }
      .add-ons-list span{
     
        font-size: 0.5rem;
      }
      .add-on input[type="checkbox"] {
        width: 1rem; 
        height: 1rem;
        
      }
      
      .add-on {
       
        padding: 1rem;
      
        border-radius: 0.5rem;
        column-gap: 1rem;
       
      }
      .add-on .money{
        color: hsl(244.67,76.27%,76.86%);
        font-weight: bold;
      }
      .add-on div{
        display: flex;
        flex-direction: column;
        row-gap: 0.2rem;
      }
      
     

    /* finishing-up */


.selected-options{

    padding: 1rem;
    border-radius: 1rem;
   
  }
  .selected-plan{
   
    padding: 1rem;
  }
  .selected-plan a{
   
    font-size: small;
  }
  .selected-add-ons{
    padding: 1rem;
 
    row-gap: 1rem;
  }

  .selected-add-ons span{
    font-size: small;
    
  }
 
  .total span{
    font-size: large;
    font-weight: bold;
  
  }
  /* thank you */

  .thank-you{
  
   
     row-gap: 1rem;
   }
   .thank-you-description{
   
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     row-gap: 1rem;
     text-align: center;
     
        padding: 1rem;
    
   }
   
   
   .inactive{
     display: none;
   }
      
      
}