body {
  padding: 0;
  margin: 0;
  display: flex;

  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: hsl(215.29, 100%, 96.67%);
  
}

/* global */

* {
  /* box-sizing: border-box; */
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;


}

h1 {
  font-size: 2.3rem;
  font-weight: bold;
  color: hsl(213.18, 95.51%, 17.45%)
}
h3 {
  font-size: 1.3rem;
  font-weight: bold;
  color: hsl(213.18, 95.51%, 17.45%)
}

p {
  color: #a7a7aa;
  font-size: 1rem;

}

section {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
   flex-basis: 100%;
}

.section-title{
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}



/* outer container */
.outer-container {
  display: flex;
  flex-basis: 45rem;
  background-color: hsl(0, 0%, 100%);
  padding: 2rem;
  border-radius: 1rem;
  column-gap: 4rem;
 
  /* width: 100vh; */

}



/* nav bar/side bar */

nav {

  background-image: url('./assets/images/bg-sidebar-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  /* padding: 3rem 4rem 1r; */
  padding: 2rem;
  row-gap: 2rem;
  width: 10rem;
  /* height:60vh; */
  border-radius: 1rem;

}

nav .step {
  display: flex;
  column-gap: 1rem;
  color: white;
}

.number {
  
  height: 2rem;
  width: 2rem;

  border: 1px solid;
  border-radius: 50%;
  border-color: white;
 
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .step div {
  display: flex;
  flex-direction: column;
}



/* main container */
.main-container {
  padding: 2rem;
  display: flex;
 
  /* flex-direction: column; */
 
}

/*             info           */
.info {
  row-gap: 2rem;
}

.info div {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  position: relative;
}

.info form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  color: hsl(215, 74%, 27%);

}
.info form p {
  position: absolute;
  
  bottom: -20px;
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none;
}

.info form input {
  height: 2rem;
  border-radius: 0.5rem;
  padding: 1rem;
  border: none;
  font-size: 15px;
  border: 1px solid hsl(240, 3%, 88%);
  font-weight: bold;
  color: hsl(210.53, 22.71%, 49.22%);
}

.next-button {
  /* margin-top: 3rem; */
  align-self: flex-end;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 1rem;
  border: none;
  background-color: hsl(213.39, 71.43%, 31.57%);
  color: white;
  font-size: 15px;
  font-weight: bold;
}


/*          Select your plan           */



.plan-cards {
  display: flex;
  column-gap: 1rem;
}

.card {
  border: 2px solid #a7a7aa;
  /* width: 12vh;
  height: 15vh; */
  min-width:10rem;
  min-height: 10rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-between;


}

.card span {
  color: #a7a7aa;
  font-size: 1.3rem;
}
.free{
  text-align: center;
  color: rgb(4, 36, 87);
  font-size: 15px;
  padding-top: 0.5rem;
}

.switch-box {
  align-self: stretch;
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  font-size: 1.3rem;
  background-color: hsl(230, 75%, 98.43%);
  color: hsl(213.18, 95.51%, 17.45%)
}

.go-back {
  border: none;
  font-size: 1.4rem;
  background-color: none;
  color: hsl(213.18, 95.51%, 17.45%);
  background-color: hsl(0, 0%, 100%);
 
}

.back-next-buttons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

/* toggle switch */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 26px;

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(4, 36, 87);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 7px;

  bottom: 4px;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgb(4, 36, 87);
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* add ons */
.add-ons {
  row-gap: 2rem;
}

.add-ons-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.add-ons-list span{
  color: #a7a7aa;
  font-size: 1rem;
}
.add-on input[type="checkbox"] {
  width: 2rem; 
  height: 2rem;
  
}

.add-on {
  display: flex;
  padding: 1.5rem;
  align-items: center;
  border: 1px solid #a7a7aa;
  border-radius: 0.5rem;
  column-gap: 2rem;
}
.add-on .money{
  color: hsl(244.67,76.27%,76.86%);
  font-weight: bold;
}
.add-on div{
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}


/* finishing-up */


.selected-options{
  
  display: flex;
  flex-direction: column;
  background-color: hsl(230,75%,98.43%);
  padding: 1rem;
 
}
.selected-plan{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(213, 210, 210);
  padding: 1rem;
}
.selected-plan a{
 
  font-size: large;
}
.selected-add-ons{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.selected-add-ons div{
  display: flex;
  justify-content: space-between;
}
.selected-add-ons span{
  font-size: large;
  color: hsl(213.18, 95.51%, 17.45%)
}
.total{
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.total span{
  font-size: x-large;
  font-weight: bold;
  color: hsl(244.42,79.51%,59.8%);
}

/* thank you */
.thank-you{
 height: 100%;
  justify-content: center;
  align-items: center;

  row-gap: 7rem;
}
.thank-you-description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
}

.inactive{
  display: none;
}

.active-plan{
  border-color: #2196F3;
  background-color: #dbdbdf;
}
.active-section{
  background-color: hsl(207.62,96.92%,87.25%);
}

